# Comma/space/semicolon-separated list of subnets to scan.
SUBNETS="192.168.12.0/24,192.168.11.0/24"
# SUBNETS="192.168.86.0/24,192.168.64.0/24"

# Override the scan interval in seconds.
SCAN_INTERVAL=180

# Enable debug logging (1=true, 0=false).
DEBUG=1

PRESENT_WINDOW_MINUTES=10

